body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
    margin: 5px;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.row {
    display:flex;
    flex-direction:row; /* equal height of the children */
}
  
.col {
    column-width: 300px;
    border: 2px;
}

.tile.disabled {
    pointer-events: none;
    opacity: 0.5;
}
